<%- model_class = Entrada -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:produto_id) %>:</strong></dt>
  <dd><%= @entrada.produto.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantidade) %>:</strong></dt>
  <dd><%= @entrada.quantidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:valor_compra) %>:</strong></dt>
  <dd><%= @entrada.valor_compra %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_compra) %>:</strong></dt>
  <dd><%= @entrada.data_compra %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              entradas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_entrada_path(@entrada), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              entrada_path(@entrada),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
